{% extends "base.html" %}
{% block title %}Visualizations{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Visual Insights</h1>

    <div class="row g-4">
        <div class="col-md-6">
            <h5>Deals per Category (Pie Chart)</h5>
            <img src="data:image/png;base64,{{ plots[0] }}" class="img-fluid" style="max-height: 350px; object-fit: contain;">
        </div>
        <div class="col-md-6">
            <h5>Top 3 Most Liked Deals (Bar Plot)</h5>
            <img src="data:image/png;base64,{{ plots[4] }}" class="img-fluid" style="max-height: 350px; object-fit: contain;">
        </div>
    </div>

    <div class="row g-4 mt-5">
        <div class="col-md-6">
            <h5>Distribution of Deal Amounts (Histogram)</h5>
            <img src="data:image/png;base64,{{ plots[2] }}" class="img-fluid" style="max-height: 350px; object-fit: contain;">
        </div>
        <div class="col-md-6">
            <h5>Top Stores by Deal Count (Treemap)</h5>
            <img src="data:image/png;base64,{{ plots[3] }}" class="img-fluid" style="max-height: 350px; object-fit: contain;">
        </div>
    </div>

    <div class="row g-4 mt-5">
        <div class="col-md-12">
            <h5>Deals Over Time (Line Chart)</h5>
            <img src="data:image/png;base64,{{ plots[1] }}" class="img-fluid" style="max-height: 400px; object-fit: contain;">
        </div>
    </div>
</div>
{% endblock %}
